<div class="jumbotron subjects edit">
<%= link_to("<< Back to List", subjects_path, :class => 'back-link btn btn-primary') %>
  <h2>Update Subject</h2>

  <%= form_for(@subject) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update Subject", :class => 'btn btn-primary') %>
    </div>

  <% end %>

</div>
