<% @page_title = @page.name %>

<div class="jumbotron public info">
  <h2> <%= @page.name %></h2>

  <% @page.sections.visible.sorted.each do |section| %>
      <% case section.content_type %>
      <% when 'HTML' %>
        <%= raw(sanitize(section.content, :tags => ['strong', 'em', 'a']))%>
      <% when 'Text' %>
        <%= simple_format(section.content) %>
      <% end %>
  <% end %>
</div>
